@font-face {
  font-family: "Asap-Regular";
  src: url(/fonts/Asap/Asapregular.ttf), url(/fonts/Asap/Asapregular.woff),
    url(/fonts/Asap/Asapregular.woff2);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Asap-Bold";
  src: url(/fonts/Asap/Asapbold.ttf), url(/fonts/Asap/Asapbold.woff),
    url(/fonts/Asap/Asapbold.woff2);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Asap-Italic";
  src: url(/fonts/Asap/Asapitalic.ttf), url(/fonts/Asap/Asapitalic.woff),
    url(/fonts/Asap/Asapitalic.woff2);
}
@font-face {
  font-family: "Asap-Medium";
  src: url(/fonts/Asap/Asapmedium.ttf), url(/fonts/Asap/Asapmedium.woff),
    url(/fonts/Asap/Asapmedium.woff2);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(/fonts/Montserrat/Montserrat-Regular.eot),
    url(/fonts/Montserrat/Montserrat-Regular.ttf),
    url(/fonts/Montserrat/Montserrat-Regular.woff);
}
